.navigation-bar__elements {
  display: flex;
  height: 48px;
  width: 230px;
  border-radius: 8px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  justify-content: space-around;
  padding: 16px 4px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #fed132;
}

.navigation-bar {
  padding: 32px;
}

.navigation-bar__add.active {
  text-decoration: underline;
  text-underline-offset: 0.3rem;
  text-decoration-thickness: 1.5px;
}

.navigation-bar__home.active {
  text-decoration: underline;
  text-underline-offset: 0.3rem;
  text-decoration-thickness: 1.5px;
}

.navigation-bar__home {
  text-decoration: none;
}

.navigation-bar__add {
  text-decoration: none;
}
